@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/*-- scss:defaults --*/
$background: #e5f2dc;
$darkblue: #19486A;

/*-- scss:rules --*/
body {
  background-color: $background;
}

.title {
  font-family: 'Poppins', sans-serif;
  color: $darkblue;
  text-align: center;

  // Desktop
  font-size: 45px;

  // Tablet
  @media only screen and (max-width: 768px) {
    font-size: 35px;
  }

  // Smartphone
  @media only screen and (max-width: 480px) {
    font-size: 30px;
  }
}

.control-label {
  font-family: 'Poppins', sans-serif;
  color: $darkblue;
}



/* table */

.table.dataTable tbody tr.active td {
  background-color: #FE904D;
  color: white;
}

.table.dataTable {
  clear: both;
  margin-top: none !important;
  margin-bottom: none !important;
  max-width: none !important;
  border-collapse: collapse !important; /* Collapses borders */
  border: 0 !important; /* Removes any border */
}

.table {
  --bs-table-color-type: initial;
  --bs-table-bg-type: initial;
  --bs-table-color-state: initial;
  --bs-table-bg-state: initial;
  --bs-table-color: $darkblue;
  --bs-table-bg: #fff;
  --bs-table-border-color: #dee2e6;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #373a3c;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #373a3c;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #373a3c;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
}

/*-- scss:mixins --*/
/*-- scss:functions --*/
/*-- scss:uses --*/
